<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ExpenseReimbursement</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>com.revature.expense.servlet.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>com.revature.expense.servlet.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAccountPage</display-name>
    <servlet-name>NewAccountPage</servlet-name>
    <servlet-class>com.revature.expense.servlet.NewAccountPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccountPage</servlet-name>
    <url-pattern>/NewAccountPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementRequestPage</display-name>
    <servlet-name>ReimbursementRequestPage</servlet-name>
    <servlet-class>com.revature.expense.servlet.ReimbursementRequestPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementRequestPage</servlet-name>
    <url-pattern>/ReimbursementRequestPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EAccount</display-name>
    <servlet-name>EAccount</servlet-name>
    <servlet-class>com.revature.expense.controller.EAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EAccount</servlet-name>
    <url-pattern>/EA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmittedRequestsPage</display-name>
    <servlet-name>SubmittedRequestsPage</servlet-name>
    <servlet-class>com.revature.expense.controller.SubmittedRequestsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmittedRequestsPage</servlet-name>
    <url-pattern>/SR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MAccount</display-name>
    <servlet-name>MAccount</servlet-name>
    <servlet-class>com.revature.expense.controller.MAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MAccount</servlet-name>
    <url-pattern>/MA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Requests</display-name>
    <servlet-name>Requests</servlet-name>
    <servlet-class>com.revature.expense.controller.Requests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requests</servlet-name>
    <url-pattern>/MRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggedOut</display-name>
    <servlet-name>LoggedOut</servlet-name>
    <servlet-class>com.revature.expense.controller.LoggedOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggedOut</servlet-name>
    <url-pattern>/loggedOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.revature.expense.controller.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.revature.expense.controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/FP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EDeleteAcct</display-name>
    <servlet-name>EDeleteAcct</servlet-name>
    <servlet-class>com.revature.expense.controller.EDeleteAcct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EDeleteAcct</servlet-name>
    <url-pattern>/EDA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>processForm</display-name>
    <servlet-name>processForm</servlet-name>
    <servlet-class>com.revature.expense.controller.processForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processForm</servlet-name>
    <url-pattern>/pF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingRequest</display-name>
    <servlet-name>PendingRequest</servlet-name>
    <servlet-class>com.revature.expense.controller.PendingRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingRequest</servlet-name>
    <url-pattern>/PR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLog</display-name>
    <servlet-name>EmployeeLog</servlet-name>
    <servlet-class>com.revature.expense.controller.EmployeeLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLog</servlet-name>
    <url-pattern>/ELog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeePendingRequest</display-name>
    <servlet-name>EmployeePendingRequest</servlet-name>
    <servlet-class>com.revature.expense.controller.EmployeePendingRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePendingRequest</servlet-name>
    <url-pattern>/EPR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EUpdateAcct</display-name>
    <servlet-name>EUpdateAcct</servlet-name>
    <servlet-class>com.revature.expense.controller.EUpdateAcct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EUpdateAcct</servlet-name>
    <url-pattern>/EUA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerEmployeeView</display-name>
    <servlet-name>ManagerEmployeeView</servlet-name>
    <servlet-class>com.revature.expense.controller.ManagerEmployeeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerEmployeeView</servlet-name>
    <url-pattern>/MRR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MChangeUserRole</display-name>
    <servlet-name>MChangeUserRole</servlet-name>
    <servlet-class>com.revature.expense.controller.MChangeUserRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MChangeUserRole</servlet-name>
    <url-pattern>/MCUR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MDeleteAcct</display-name>
    <servlet-name>MDeleteAcct</servlet-name>
    <servlet-class>com.revature.expense.controller.MDeleteAcct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MDeleteAcct</servlet-name>
    <url-pattern>/MDA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MUpdateAcct</display-name>
    <servlet-name>MUpdateAcct</servlet-name>
    <servlet-class>com.revature.expense.controller.MUpdateAcct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MUpdateAcct</servlet-name>
    <url-pattern>/MUA</url-pattern>
  </servlet-mapping>
</web-app>